<div class="container">
  <button (click)="onHomeClick()" [disabled]="isLoading()">
    {{ isLoading() ? 'Searching...' : 'Search Jobs' }}
  </button>

  @if (jobs().length > 0) {
    <div class="job-list">
      @for (job of jobs(); track job.id) {
        <div class="job-card">
          <div class="job-card-header">
            <h3>{{ job.title }}</h3>
            <h4><span class="posted-date">{{ job.postedDate | date: 'yyyy-MM-dd' }}</span></h4>
          </div>
          <p><strong>{{ job.companyName }}</strong> — {{ job.jobLocation }}</p>
          <p class="summary">{{ job.summary }}</p>
          <div class="footer">
            <div class="badge-container">
              <span class="type">{{ job.employmentType }}</span>
            </div>
            <div>
              @if (job.applied) {
                <span class="type">Applied</span>
              } @else if (job.easyApply) {
                <span class="type">Easy Apply</span>
              }
            </div>

            <div class="link-container">
              <a [href]="job.detailsPageUrl" target="_blank">View on Dice</a>
            </div>
          </div>
        </div>
      }
    </div>
  } @else if (!isLoading() && jobs().length === 0) {
    <p>No jobs found. Click Search to start.</p>
  }
</div>
